<div class="container main">
    <div *ngIf="forgot">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div *ngIf="forgot" class="col-md">
                  <mat-card>
                    <img src="assets/logo1.png" class="mt-3 img-fluid" alt="Responsive image">

                  <p class="mt-3 mat-h2" style="color: #673ab7">Przywracanie hasła</p>
                  <form>
                      <div class="form-group">

                        <mat-form-field appearance="outline" class="example-container">
                            <mat-label>Email</mat-label>
                            <input [(ngModel)]="forgotEmail" type="email" name="forgotEmail" matInput placeholder="Wprowadź email" [formControl]="test1" required>
                            <mat-icon matSuffix color="primary">email</mat-icon>
                            <mat-error *ngIf="test1.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <div class="form-row text-center">
                        </div>
                      </div>
                    </form>
                    <div class="text-center">
                        <button mat-raised-button color="primary" type="submit" (click)="forgotUser()">Wyślij email zmiany hasła</button>
                        <div class="row mb-2"></div>
                        <button mat-button color="primary" type="submit" (click)="changeToLogin()">Wróć do strony logowania</button>
                        </div>
                  </mat-card>
                </div>
            </div>
            <div class="col-md-3"></div>
          </div>
      </div>



    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div *ngIf="loggedOut">
                <mat-card>
                    <img src="assets/logo1.png" class="mt-3 img-fluid mb-3" alt="Responsive image">

                        <form class="form-group text-center mb-1">
                        <mat-form-field appearance="outline" class="example-container">
                            <mat-label>Email</mat-label>
                            <input [(ngModel)]="email" type="email" name="name" matInput placeholder="Wprowadź email" [formControl]="email1" required>
                            <mat-icon matSuffix color="primary">email</mat-icon>
                            <mat-error *ngIf="email1.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <div class="row"></div>
                        <mat-form-field appearance="outline" class="example-container">
                            <mat-label>Hasło</mat-label>
                            <input [(ngModel)]="password" type="password" name="password" matInput placeholder="Wprowadź hasło" [type]="hide ? 'password' : 'text'" [formControl]="haslo" required>
                            <mat-icon matSuffix color="primary" (click)="hide = !hide" color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="haslo.invalid">{{getErrorMessage1()}}</mat-error>
                          </mat-form-field>
                          <button mat-raised-button color="primary"(click)="login()" class="custom"><i [ngBusy]="busy"></i>Zaloguj</button>
                      </form>
                      <div class="text-center">
                      <div class="row mb-2"></div>
                      <button mat-button color="primary" (click)="changeToForgot()" class="custom">Przywróć hasło</button>
                      </div>
                  </mat-card>
            </div>

        </div>
        <div class="col-md-3">

        </div>
      </div>
</div>
