.main {
	padding-top: 180px;
	text-align: center;
}

.myButton {
    width: 160px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.custom {
  width: 150px !important;
}

.logowanie {
  max-width: 30%;
  
}
