<div class="container">
	<div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2">
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarText">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item mr-5">
			        <a class="nav-link" routerLink="/admin">Strona główna</a>
			      </li>
			      <li class="nav-item mr-5">
			        <a class="nav-link" routerLink="/new-surveys">Lista formularzy</a>
			      </li>
			      <li class="nav-item mr-5">
			        <a class="nav-link" routerLink="/rated-surveys">Ocenione formularze</a>
			      </li>
			      <li class="nav-item mr-5">
			        <a class="nav-link" routerLink="/admin-users">Lista użytkowników</a>
			      </li>
            <li class="nav-item mr-5">
              <a class="nav-link" routerLink="/assign-users-to-forms">Przypisywanie formularzy</a>
            </li>
			    </ul>
			    <ul class="navbar-nav">
			    	<li class="nav-item">
			        <a class="nav-link" href="/" (click)="logout()">Wyloguj</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">

		</div>
		<div class="col-sm text-center">
			<img src="assets/logo1.png" class="mt-3 mb-2 img-fluid" alt="Responsive image">
		</div>
		<div class="col-sm">

		</div>
	</div>
	<div class="row">
		<div class="col text-center pr-5 pl-5">
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th>Tytuł studium przypadku</th>
						<th>Dziedzina nauki</th>
						<th>Ekspert nr.1</th>
						<th>Ekspert nr.2</th>
						<th></th>
            <th></th>
            <th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let survey of surveys; index as i">
						<td>{{survey.title}}</td>
						<td>
							<label [for]="'discipline' + i">{{survey.discipline}}</label>

						</td>
						<td>
							<select [(ngModel)]="survey.expertOne" class="form-control" [name]="'expertOne' + i">
								<option *ngIf="survey.expertOne && survey.expertOne.name" value="{{survey.expertOne}}" disabled selected>{{survey.expertOne.name}}</option>
								<option *ngFor="let expert of survey.experts" value="{{expert._id}}" [disabled]="survey.expertTwo && survey.expertTwo === expert._id">{{expert.name}}</option>
							</select>
						</td>
						<td>
							<select [(ngModel)]="survey.expertTwo" class="form-control" [name]="'expertTwo' + i">
								<option *ngIf="survey.expertTwo && survey.expertTwo.name" value="{{survey.expertTwo}}" disabled>{{survey.expertTwo.name}}</option>
								<option *ngFor="let expert of survey.experts" value="{{expert._id}}" [disabled]="survey.expertOne && survey.expertOne === expert._id">{{expert.name}}</option>
							</select>
						</td>
						<td>
							<button class="btn btn-success" (click)="assign(survey)">Przypisz</button>
						</td>
						<td>
							<button class="btn btn-primary" (click)="unassign(survey)">Anuluj</button>
						</td>
						<td>
							<button class="btn btn-danger" (click)="deleteSurvey(survey._id)">Usuń</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
